.masonry-container2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.masonry-item2 {
  display: inline-block;
  width: 100%;
}

.masonry-item2 img {
  display: block;
  width: 100%;
}

@media (min-width: 690px) {
  .masonry-container2 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 940px) {
  .masonry-container2 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

@media (min-width: 1224px) {
  .masonry-container2 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}