.animeCardGrid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 490px) {
  .animeCardGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 690px) {
  .animeCardGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 890px) {
  .animeCardGrid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1090px) {
  .animeCardGrid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (min-width: 1390px) {
  .animeCardGrid {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

.give-shadow {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
}